.NestedComments {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    padding: 44px;
    gap: 44px;

    .comment {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 24px;

        section {
            display: flex;
            gap: 8px;

            img {
                height: 40px;
                width: 40px;
                object-fit: contain;
                border-radius: 8px;
            }

            h3,
            p {
                padding: 0;
                margin: 0;
            }

            h3 {
                font-size: 14px;
                font-weight: bold;
                text-transform: capitalize;
            }

            p {
                font-size: 13px;
                font-weight: 400;
                color: #000000d3;
            }

            .reply-btn {
                font-size: 13px;
                color: grey;
                padding: 4px 0;
                cursor: pointer;
            }

            .form {
                height: 25px;
                margin-top: 2px;

                input {
                    font-size: 12px;
                    padding: 0 8px;
                    border: 1px solid silver;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .replies {
            position: relative;
            left: 44px;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        input,
        textarea {
            border: 1px solid silver;
            font-size: 14px;
            padding: 3px 0;
            height: 30px;
            padding: 0 12px;

            &:focus {
                border: 1px solid silver;
                outline: none;
            }
        }

        input {
            border-bottom: none;
        }

        textarea {
            border-top: none;
            margin-bottom: 12px;
        }

        button {
            height: 40px;
            background-color: rgb(4, 128, 177);
            border: none;
            font-size: 14px;
            color: #fff;
            font-weight: bold;
        }
    }

}


.modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.733);
    z-index: 999;
    display: flex;

    form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-70%, -50%);
        width: 500px;
        height: auto;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        border-radius: 12px;
        gap: 44px;

        label {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        input {
            padding: 0 12px;
            border-radius: 4px;
            border: 1px solid #0000003d;
            height: 60px;
        }

        button {
            height: 60px;
            border: none;
            background-color: rgb(20, 136, 182);
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            border-radius: 4px;
        }

    }
}