.App {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;

    &::-webkit-scrollbar {
        display: none;
    }

    .outlet {
        width: 85%;
        height: 100%;
    }
}